BoomBeachProduction/ProjectSettings/UnityConnectSettings.asset
BoomBeachProduction/ProjectSettings/TimeManager.asset
BoomBeachProduction/ProjectSettings/TagManager.asset
BoomBeachProduction/ProjectSettings/QualitySettings.asset
BoomBeachProduction/ProjectSettings/ProjectVersion.txt
BoomBeachProduction/ProjectSettings/ProjectSettings.asset
BoomBeachProduction/ProjectSettings/PresetManager.asset
BoomBeachProduction/ProjectSettings/Physics2DSettings.asset
BoomBeachProduction/ProjectSettings/PackageManagerSettings.asset
BoomBeachProduction/ProjectSettings/NetworkManager.asset
BoomBeachProduction/ProjectSettings/NavMeshAreas.asset
BoomBeachProduction/ProjectSettings/InputManager.asset
BoomBeachProduction/ProjectSettings/GraphicsSettings.asset
BoomBeachProduction/ProjectSettings/EditorSettings.asset
BoomBeachProduction/ProjectSettings/EditorBuildSettings.asset
BoomBeachProduction/ProjectSettings/DynamicsManager.asset
BoomBeachProduction/ProjectSettings/XRSettings.asset
BoomBeachProduction/ProjectSettings/VFXManager.asset
BoomBeachProduction/ProjectSettings/ClusterInputManager.asset
BoomBeachProduction/ProjectSettings/AudioManager.asset
BoomBeachProduction/Packages/packages-lock.json
BoomBeachProduction/Packages/manifest.json
BoomBeachProduction/obj/Debug/UnityEngine.UI.csprojAssemblyReference.cache
BoomBeachProduction/obj/Debug/UnityEditor.UI.csprojAssemblyReference.cache
BoomBeachProduction/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
BoomBeachProduction/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
BoomBeachProduction/obj/BNB/Debug/Assembly-CSharp.csprojAssemblyReference.cache
BoomBeachProduction/obj/BNB/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
BoomBeachProduction/obj/BNB/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
BoomBeachProduction/obj/Assembly-CSharp-Editor.csprojAssemblyReference.cache
BoomBeachProduction/Logs/Packages-Update.log
